@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header-element-container {
  // background-color: red;
  display: flex;
  width: 70px;
  justify-content: space-between;
}

//일반적인 헤더
.main-header-layout {
  position: fixed;
  top: 0;
  // background-color: var(--color-background);
  width: 100%;
  left: 0;
  z-index: 999;
  // background-color: blue;
}
.main-header-container {
  // background: rgb(228, 17, 17);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

//back header
.back-header-layout {
  position: fixed;
  top: 0;
  // background-color: var(--color-background);
  width: 100%;
  left: 0;
  z-index: 998;
  // background-color: blue;
}
.back-header-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.no-background {
  background-color: #00000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

//text 헤더
.text-header-layout {
  position: fixed;
  top: 0;
  // background-color: var(--color-background);
  width: 100%;
  left: 0;
  z-index: 999;
  // background-color: blue;
}
.text-header-container {
  background-color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
}

.auction-header-layout {
  top: 0;
  // background-color: var(--color-background);
  width: 100%;
  z-index: 999;
}

.slider {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  white-space: nowrap;
  font-weight: bold;
  color: #2f2f2f;
}

.alarm {
  position: absolute;
  background: #ff003c;
  border-radius: 999px;
  height: 1vh;
  width: 1vh;
  right: 0;
  margin-right: 3%;
}
