@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.header-main-container {
  top: 0;
  //   background: rgb(228, 17, 17);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 25px;
}

.main-header-layout {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}
.main-header-container {
  // background: rgb(228, 17, 17);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
}
