@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.icon {
  position: fixed;
  bottom: 0;
  background: #00000094;
  padding: 11px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  right: 0;
  width: fit-content;
  z-index: 999;
  margin-bottom: 12vh;
  margin-right: 2vh;
  @include center-element;
  color: white;
  font-size: 14px;
}

//다크모드
body[data-theme="dark"] .icon {
  background: #ffffff;
  color: black;
  font-weight: bold;
}
// #30e2ef, #8aede7, #7ae5c0
