@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.button {
  background-color: #52ebb6;
  width: 100%;
  outline: none;
  color: #ffffff;
  border-radius: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-invalid {
  background-color: #dcdcdc;
  width: 100%;
  outline: none;
  color: #ffffff;
  border-radius: 50px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}
