@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.button {
  font-size: 15px;
  width: 46%;
  height: 40px;
  @include center-element;
  border-radius: 50px;
  color: #000000;
  margin-top: 12px;
  box-shadow: 1px 1px 4px 2px #0000001c;
}
