@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.boardCategory-container {
  width: 100%;
  // background-color: aqua;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.boardCategory-list {
  // background-color: red;
  width: 50%;
  height: 30px;
  border-radius: 999px;
  border: 1px solid #bdbdbd;
  display: flex;
  justify-content: space-between;
}
.boardCategory-list-link {
  // background-color: red;
  width: 33.3%;
}

.boardCategory-list-element {
  // background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 2px solid #e85175;
  @include center-element;
  font-size: 13px;
  color: #e85175;
}
.boardCategory-list-element-invalid {
  // background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  @include center-element;
  font-size: 13px;
  color: #bdbdbd;
}

.boardCategory-container-element {
  width: 50%;

  @include center-element;
  font-weight: bold;
  // color: #ababab;
}

.boardCategory-container-element-invalid {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  //   background-color: red;
  @include center-element;
  font-weight: bold;
  color: #ababab;
  border-bottom: 2px solid #ababab;
}
.boardCategory-container-element-valid {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  @include center-element;
  font-weight: bold;
  // color: #000000;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.selectBar {
  width: 45%;
  height: 30px;
  border: 2px solid #d4d4d4;
  border-radius: 999px;
}

.searchResult {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
}

body[data-theme="dark"] .boardCategory-container-element-valid {
  // color: #ffffff;
  border-bottom: 2px solid white;
}

body[data-theme="dark"] .boardCategory-container-element-invalid {
  // color: #ffffff;
  border-bottom: 2px solid var(--color-element);
  color: var(--color-element);
}
