@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.boardCategory-container {
  width: 100%;
  display: flex;
  //   background-color: aqua;
  justify-content: space-between;
}

.boardCategory-container-element {
  width: 50%;

  @include center-element;
  font-weight: bold;
  color: #ababab;
}

.boardCategory-container-element-invalid {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  //   background-color: red;
  @include center-element;
  font-weight: bold;
  color: #ababab;
  border-bottom: 2px solid #ababab;
}
.boardCategory-container-element-valid {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  @include center-element;
  font-weight: bold;
  color: #000000;
  border-bottom: 2px solid rgb(0, 0, 0);
}
