/* body {
  background: linear-gradient(135deg, #fad0c4, #ffd1ff);
} */

.roundInfo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #00000025;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 99px;
  color: white;
  z-index: 1;
  font-size: 23px;
}
.priceInfo {
  position: absolute;
  top: 15.5%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #ff9996;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 99px;
  color: white;
  font-size: 12px;
  z-index: 999;
}

.bidBtn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #00000022;
  padding: 5%;
  width: 70vw;
  border-radius: 10px;
  font-size: 18px;
  color: #434343;
  font-weight: 500;
  box-shadow: 0px 0px 5px 1px #b5b5b5;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: blue; */
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wave-one {
  width: 33vh;
  height: 33vh;
  /* position: absolute; */
  border-radius: 45%;
  /* background: #ff3f6c6b; */
  /* background: black; */
  animation: move 3s infinite linear;
  border: 3px solid #ffffff5d;
}

.wave-two {
  width: 31vh;
  height: 31vh;
  position: absolute;
  border-radius: 45%;
  /* background: #ff3f6cae; */
  animation: move 5s infinite linear;
  border: 4px solid #ffffff5d;
}

.wave-three {
  width: 30vh;
  height: 30vh;
  position: absolute;
  border-radius: 45%;
  /* background: rgba(255, 182, 199, 0.875); */
  animation: move 7s infinite linear;
  border: 4px solid rgba(255, 182, 199, 0.565);
}

.wave-four {
  width: 32vh;
  height: 32vh;
  position: absolute;
  border-radius: 46%;
  animation: move 8s infinite linear;
  /* background: #ff3f6c6b; */
  border: 4px solid #ffffff28;
}
.center-circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: blue; */
  width: 100%;
  height: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-circle {
  width: 30vh;
  height: 30vh;
  position: absolute;
  border-radius: 999%;
  /* background-color: rgb(28, 146, 69); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.leftCount {
  font-size: 70px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}
.leftTime {
  font-size: 15px;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

/* 버튼 */

button {
  cursor: pointer;
  font: inherit;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #00000025;
  color: #ffffff;
  font-size: 17px;
  /* font-weight: 500; */
  padding: 5%;
  width: 70vw;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 999px;
  box-shadow: 0px 0px 3px 1px #ff68682d;
}

/* .button:active {
  transform: scale(1.01);
} */

.auction-effect {
  position: fixed;
  /* background: linear-gradient(to top, #e85175 15%, transparent); */
  height: 25vh;
  width: 100%;
  bottom: 0;
  left: 0;
}

/*대기시간*/
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.round-stay-layout {
  height: 100vh;
  background: linear-gradient(135deg, #e85175, #ffad96);
}
/*라운드 대기시간*/
.round-stay {
  /* position: absolute;
  top: 20%;
  left: 50%;

  transform: translate(-50%); */
  display: flex;
  flex-direction: column; /* 자식 요소를 위아래로 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  width: 100%; /* 가로를 100vh로 설정 */
  padding-top: 15vh;
  /* padding-bottom: 5vh; */

  color: rgb(255, 255, 255);
  font-size: 13px;
}

/* body {
  background: linear-gradient(135deg, #e85175, #ff7f98);
  color: #ccc;
  font-family: sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.loader {
  width: 270px;
  height: 270px;
  line-height: 150px;
  margin: 100px auto;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  z-index: 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader:before,
.loader:after {
  opacity: 0;
  box-sizing: border-box;
  content: "\0020";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  border: 5px solid #fff;
  box-shadow: 0 0 50px #fff, inset 0 0 50px #fff;
}

.loader:after {
  z-index: 1;
  -webkit-animation: gogoloader 2s infinite 1s;
}

.loader:before {
  z-index: 2;
  -webkit-animation: gogoloader 2s infinite;
}

@-webkit-keyframes gogoloader {
  0% {
    -webkit-transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
