@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

// .login-main-container {
//   height: 100vh;
//   // background: linear-gradient(to bottom, #52ebb6, #c8ffec);
// }

.login-main-frame {
  // background-color: red;
  width: 100%;
  @include center-element;
  padding-top: 25vh;
}
.login-main-btn-container {
  // background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* 부모 요소의 높이에 맞추어 조정 */
}

.login-main-btn {
  // background: linear-gradient(to right, #30e2ef, #8aede7, #7ae5c0);
  height: 55px;
  width: 258px;
  color: black;
  border-radius: 999px;
  margin-top: 30px;
  border: 2px solid #e3e3e3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 500;
}

.login-main-btn img {
  width: 35px;
  height: 35px;
}

.login-btn-frame {
  // background-color: rgb(159, 144, 144);
  width: 100%;
  color: white;
  border-radius: 7px;
  @include center-element;
}

body[data-theme="dark"] .login-main-btn {
  background: var(--color-element);
  box-shadow: 0px 0px 3px 2px #0e0e0e;
}
