@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.flexBox {
  // background: rgb(0, 255, 157);
  padding-top: 1%;

  display: flex; /* Flexbox 사용 */
  flex-direction: column; /* 수직 정렬 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  padding-left: 3%;
  padding-bottom: 3%;
  // border-bottom: 2px solid #e3e3e3;
}

.element-img {
  border-radius: 100px;
  border: 2px solid #52ebb6;
  margin-left: 3%;
  width: 50px;
  height: 50px;
}

.flexBox p {
  width: 100%;
  // background: rgb(206, 206, 239);
  display: inline-block;
  justify-content: center;
  align-items: center;
  @include center-element;
  font-size: 12px;
}
