@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.boardObject-container {
  // background-color: #f3e8c7;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
  padding-bottom: 3%;

  width: 100%;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.boardObject-element1 {
  position: relative;

  width: 35%;
  aspect-ratio: 1 / 1.3;
  border-radius: 5px;
}

.boardObject-element2 {
  width: 55%;
  aspect-ratio: 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.status {
  width: fit-content;
  // font-weight: bold;
  color: white;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px 0px 0px 0px;
}

.boardObject-element2-text1 {
  font-size: 17px;
  font-weight: bold;
}

.boardObject-element2-bookmark {
  font-size: 17px;
  font-weight: bold;
}
.boardObject-element2-text2 {
  font-size: 13px;
  font-weight: bold;
  color: #777777;
}
.boardObject-element2-layout {
  display: flex;
  padding-top: 2px;
  // background-color: blue;
}
.boardObject-element2-tag1 {
  @include center-element;
  // background-color: #e85175;
  color: white;
  border-radius: 999px;
  font-size: 11px;
  // font-weight: bold;
  width: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #e85175;
  border: 1px solid #e85175;
}
.boardObject-element2-tag2 {
  @include center-element;
  color: white;
  border-radius: 999px;
  font-size: 11px;
  // font-weight: bold;
  width: fit-content;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #e85175;
  border: 1px solid #e85175;
  margin-left: 1%;
}
.boardObject-element2-startDate {
  font-size: 12px;
  // font-weight: bold;
  color: #c5c5c5;
  @include center-element;
}
.boardObject-element2-text3 {
  font-size: 12px;
  // font-weight: bold;
  color: #c5c5c5;
  // @include center-element;
}

//다크모드
body[data-theme="dark"] .boardObject-container {
  border-top: 1px solid var(--color-element);
  border-bottom: 1px solid var(--color-element);
}

body[data-theme="dark"] .boardObject-element2-tag1 {
  box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
}

body[data-theme="dark"] .boardObject-element2-tag2 {
  box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
}
