@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.mypage-container {
  //   background-color: red;
  border-bottom: 5px solid #f0f0f0;
}

.mypage-profile {
  display: flex;
  padding-left: 3%;
}

.profile-img {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 100px;
  border: 2px solid #e3e3e3;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img-btn {
  font-size: 11px;
  color: white;
  background-color: #000000a1;
  // padding: 2%;
  // padding-left: 7%;
  // padding-right: 7%;
  width: fit-content;
  border-radius: 7px;
}

.profile-info {
  //   background-color: aqua;
  width: 60%;
  aspect-ratio: 2 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
}

.profile-element1 {
  // background-color: red;
  font-size: 12px;
  font-weight: 500;
  margin-left: 3%;
  color: hsl(0, 0%, 72%);
  @include center-element(flex, center, end);
}

.profile-element2 {
  font-size: 14px;
  font-weight: 500;
}

.category-container {
  width: 100%;
  //   background-color: aqua;
  flex-wrap: wrap;
  display: flex;
}

.category-container p {
  width: fit-content;
  background-color: white;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  font-size: 11px;
  margin-left: 3%;
  margin-top: 2%;
  border: 1px solid #e3e3e3;
}

.btn-container {
  display: flex;
  // background-color: red;
  justify-content: space-between;
  width: 100%;
  padding: 3%;
}
.btn-layout {
  width: 48%;
  aspect-ratio: 6 / 1;
}

.btn-container-button1 {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 12px;
  color: #ffffff;
  background: black;
}
.btn-container-button2 {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 12px;
  color: #ffffff;
  background: black;
}

.setting-container {
  // background: blue;
  width: 100%;
  padding-bottom: 2%;
  border-bottom: 5px solid #f0f0f0;
}

.setting-element1 {
  // background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  padding-top: 5%;
  padding-bottom: 3%;
}

.setting-element2 {
  // background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
}

.setting-element-layout {
  // background: rgb(216, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.setting-element-layout p {
  font-size: 12px;
  font-weight: 500;
}

.btn-container2 {
  display: flex;
  // background-color: red;
  justify-content: space-between;
  width: 100%;
  // padding: 3%;
  margin-top: 10%;
}

.button1 {
  width: 48%;
  aspect-ratio: 5 / 1;
  border-radius: 7px;
  font-size: 14px;
  color: #ffffff;
  background: black;
}

.button2 {
  width: 48%;
  aspect-ratio: 5 / 1;
  border-radius: 7px;
  background-color: rgb(68, 48, 48);
  font-size: 14px;
  color: #000000;
  background: rgb(255, 255, 255);
  border: 1px solid #000000;
}

.cropperBtnContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
}
.cropButton1 {
  background-color: #e85175;
  width: 48%;
  padding: 3%;
  border-radius: 10px;
  color: white;
}
.cropButton2 {
  background-color: #e3e3e3;
  width: 48%;
  padding: 3%;
  border-radius: 10px;
  color: white;
}

//다크모드
body[data-theme="dark"] .category-container p {
  background-color: var(--color-background);
}

body[data-theme="dark"] .mypage-container {
  border-bottom: 5px solid black;
}

body[data-theme="dark"] .setting-container {
  border-bottom: 5px solid black;
}

body[data-theme="dark"] .profile-img {
  border: 2px solid black;
}

body[data-theme="dark"] .btn-container-button2 {
  background-color: #ffffff;
  color: #000000;
}
