@mixin center-position($top: 50%, $left: 50%) {
  position: relative;
  top: $top;
  left: $left;
  transform: translate(-50%, -50%);
}

@mixin center-element(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
}

.container {
  padding: 3%;
}

.fileInput {
  width: 100%;
  // background-color: blue;
  border: none;
  color: transparent;
}

.fileInput::file-selector-button {
  width: 100%;
  aspect-ratio: 10 / 1;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  background-color: #d9d9d9;
}
